<app-header></app-header>
<section class="login-block">
    <header class="login-header">
        Login
    </header>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
            <label for="login" class="form-field-lable">Login: <span class="required-msg">* required</span></label>
            <input type="text" id="login" formControlName="login" class="form-field-input" placeholder="Enter login"/>
        </div>
        <div class="form-field">
            <label for="password" class="form-field-lable">Password: <span class="required-msg">* required</span></label>
            <input type="text" id="password" formControlName="password" class="form-field-input" placeholder="Enter password"/>
        </div>
        <div class="buttons-block">
            <a class="forgot-pass-link">Forgot password?</a>
            <button type="submit" [disabled]="!loginForm.valid" class="submit-button">Login</button>
        </div>        
    </form>
</section>
