<header class="header-block">
  <article class="title-block">
    <h3 class="title">{{ course.name | uppercase }}</h3>
    <img src="assets/icons/ic_star.svg" alt="img" class="icon star-icon" *ngIf="course.isTopRated" />
  </article>
  <section class="date-time-block">
    <div class="time-block">
      <p class="time">
        <img src="assets/icons/ic_clock.svg" alt="img" class="icon date-time-icon" />
        <span>{{ course.length | duration}}</span>
      </p>
    </div>
    <div class="date-block">
      <p class="date">
        <img src="assets/icons/ic_calendar.svg" alt="img" class="icon date-time-icon" />
        <span>{{ course.date | date: 'shortDate' }}</span>
      </p>
    </div>
  </section>
</header>
<section class="info-block">
  <p class="information">{{ course.description }}</p>
  <div class="buttons-block">
    <button class="edit-btn btn" [routerLink]="['/courses', course.id]">
      <img src="assets/icons/ic_edit.svg" alt="img" class="icon"/>Edit
    </button>
    <button class="delete-btn btn" cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="isOpen = true">
      <img src="assets/icons/ic_delete.svg" alt="img" class="icon"/>Delete
    </button>
  </div>
</section>

<ng-template
  #overlayDir="cdkConnectedOverlay"
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="dark-backdrop"
  cdkConnectedOverlayPanelClass="preview-dialog-panel"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  (backdropClick)="onCancel()"
>
  <app-course-dialog
    [course]="course"
    (cancel)="onCancel()"
    (delete)="onDelete()">
  </app-course-dialog>
</ng-template>
