@import 'styles/variables';
@import 'styles/mixins';

:host {
  display: block;
  border-radius: 6px;
  background: color(white);
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1), 0 2px 10px 0 rgba(29, 30, 38, 0.15);
  padding: 24px;
  margin-bottom: 24px;
  border: 2px solid transparent;
}

:host(.is-fresh) {
  border-color: color(olive1);
}

:host(.is-upcomming) {
  border-color: color(pacificBlue);
}

.header-block {
  display: flex;
  justify-content: space-between;
  height: 31px;
  margin-bottom: 8px;
}

.title {
  color: color(nightRider);
  font-size: 24px;
  margin-right: 5px;
  font-family: font(semiBold);
  text-transform: none;
  text-align: left;
  font-weight: 600;
  align-self: center;
}

.title-block {
  display: flex;
}

.date-time-block {
  line-height: 18px;
  letter-spacing: 0;
  color: color(manatee);
  font-size: 14px;
  font-family: font(regular);
  text-transform: none;
  align-self: start;
  display: flex;
}

.date-block {
  margin-left: 26px;
}

.info-block {
  display: flex;
}

.information {
  line-height: 18px;
  letter-spacing: 0;
  color: color(gunPowder);
  font-size: 14px;
  font-family: font(regular);
  text-transform: none;
  margin-right: 40px;
}

.buttons-block {
  display: flex;
  align-items: flex-start;
}

.btn {
  @include change-focus-view(color(pacificBlueShadow));
  border-radius: 3px;
  background: color(pacificBlue);
  padding: 6px 9px;
  line-height: 12px;
  letter-spacing: -0.1px;
  color: color(white);
  font-size: 12px;
  font-family: font(semiBold);
  text-transform: none;
  text-align: left;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: color(deepSkyBlue1);
  }

  &:active {
    background-color: color(teal1);
  }
}

.delete-btn {
  margin-left: 12px;
}

.icon {
  margin-right: 6px;
}

.date,
.time {
  display: flex;
  align-items: center;
}

::ng-deep {
  .dark-backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: color(blackTransparent);
  }

  .preview-dialog-panel {
    position: absolute;
    bottom: 50% !important;
    right: 50% !important;
    transform: translate(50%, 50%);
  }
}
