@import 'styles/variables';

.dark-backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: color(blackTransparent);
}

.preview-dialog-panel {
  position: absolute;
  bottom: 50% !important;
  right: 50% !important;
  transform: translate(50%, 50%);
}
