$colors: (
  white: #ffffff,
  whiteShadow: rgba(255, 255, 255, 0.5),
  whiteSmoke: #f8f8f8,
  athensGray: #E1E3EB,
  linkWater: #ced0db,
  echoBlue: #ACAFBF,
  manatee: #858997,
  fauxBlackCoral: #5B616F,
  rhino: #464a5a,
  gunPowder: #474a59,
  blackRock: #303240,
  nightRider: #333333,
  blackTransparent: #0000008c,
  pacificBlue: #009ecc,
  pacificBlueShadow: rgba(0, 158, 204, 0.5),
  deepSkyBlue1: #4bcfe5,
  cornfloweBlue: #5681ee,
  teal1: #1887bb,
  lasPalmas: #c8de49,
  lasPalmasTransparent: #c8de491f,
  olive1: #67a300,
  oliveShadow: rgba(137, 176, 53, 0.5),
  vidaLoca: #62a231
);

$fonts: (
  regular: 'Source Sans Pro Regular',
  semiBold: 'Source Sans Pro Semibold',
  bold: 'Source Sans Pro Bold'
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

@function font($type) {
  @if map-has-key($fonts, $type) {
    @return map-get($fonts, $type);

    @warn "Unknown `#{$type}` in $fonts.";
    @return null;
  }
}
