@import 'styles/variables';
@import 'styles/mixins';

@include form-field(color(gunPowder), font(semiBold));
@include new-course-input;
@include validation-error-field;

.form-field {
  margin-bottom: 12px;
  width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.form-field-input {
  width: 155px;
}

.duration-calculation {
  padding-bottom: 10px;
}
