<div class="form-field" [ngClass]="{'has-error': errorMsg}">
    <label for="date" class="form-field-lable">{{ 'PAGES.NEW_COURSES_PAGE.DATE' | translate }}: <span class="help-block" *ngIf="errorMsg; else requiredMessage">{{ errorMsg }}</span>
        <ng-template #requiredMessage>
            <span class="required-msg">{{ 'SHARED.SHARED.REQUIRED' | translate }}</span>
        </ng-template>
    </label>
    <input type="date" id="date" class="form-field-input" placeholder="{{ 'PAGES.NEW_COURSES_PAGE.MINUTES' | translate }}" [formControl]="formControl"/>
</div>
