@import 'styles/variables';

:host {
  margin: 21px auto 0 85px;
  display: block;
}

.courses-search {
  border-radius: 3px;
  border: 1px solid color(linkWater);
  background: color(white);
  box-sizing: border-box;
  height: 36px;
  width: 240px;
  margin-right: 12px;
  padding: 9px 12px;
}
