<app-header>
    <app-login-buttons></app-login-buttons>
</app-header>
<app-breadcrumbs>
    <a class="breadcrumbs-txt">Courses</a>
</app-breadcrumbs>
<app-course-search (searchTerm)="onSearchCourse($event)"></app-course-search>
<button class="add-btn" routerLink="./new">
    <div class="add-ic">+</div> Add course
</button>
<app-courses-list [courses]="courses" (delete)="onDeleteCourse($event)"
    (loadmore)="onLoadMoreCourses()" *ngIf="courses$ | async; let courses; else noDataBlock">
</app-courses-list>
<ng-template #noDataBlock>
    <h3 class="no-courses">No data. Feel free to add new course.</h3>
</ng-template>
