<app-header>
    <app-login-buttons></app-login-buttons>
</app-header>
<app-breadcrumbs>
    <a class="breadcrumbs-txt">{{ 'SHARED.SHARED.COURSES' | translate }}</a>
</app-breadcrumbs>
<app-course-search (searchTerm)="onSearchCourse($event)"></app-course-search>
<button class="add-btn" routerLink="./new">
    <div class="add-ic">+</div>{{ 'PAGES.COURSES_PAGE.ADD_COURSE' | translate }}
</button>
<app-courses-list [courses]="courses" (delete)="onDeleteCourse($event)"
    (loadmore)="onLoadMoreCourses()" *ngIf="courses$ | async; let courses; else noDataBlock">
</app-courses-list>
<ng-template #noDataBlock>
    <h3 class="no-courses">{{ 'PAGES.COURSES_PAGE.ADD_NEW_COURSE' | translate }}</h3>
</ng-template>
