<header class="new-course-header">
    {{courseTitle}}
    <span class="help-block" *ngIf="this.loadCoursesError">{{ 'PAGES.NEW_COURSES_PAGE.SAVING_COURSE_ERROR' | translate }}</span>
</header>
<form class="new-course-form" [formGroup]="courseForm" (ngSubmit)="onSave()">
    <div class="form-field" [ngClass]="{'has-error': validationMessage.name}">
        <label for="name" class="form-field-lable">{{ 'PAGES.NEW_COURSES_PAGE.TITLE' | translate }}: 
            <span class="help-block" *ngIf="validationMessage.name; else requiredMessage">{{ validationMessage.name }}</span>
            <ng-template #requiredMessage>
                <span class="required-msg">{{ 'SHARED.SHARED.REQUIRED' | translate }}</span>
            </ng-template>
        </label>
        <input 
            type="text" 
            id="name" 
            formControlName="name" 
            class="form-field-input" 
            placeholder="{{ 'PAGES.NEW_COURSES_PAGE.ADD_TITLE' | translate }}" 
            name="title" 
            (blur)="onBlur($event)"/>
    </div>
    <div class="form-field" [ngClass]="{'has-error': validationMessage.description}">
        <label for="description" class="form-field-lable">{{ 'PAGES.NEW_COURSES_PAGE.DESCRIPTION' | translate }}: 
            <span class="help-block" *ngIf="validationMessage.description; else requiredMessage">{{ validationMessage.description }}</span>
            <ng-template #requiredMessage>
                <span class="required-msg">{{ 'SHARED.SHARED.REQUIRED' | translate }}</span>
            </ng-template>
        </label>
        <textarea 
            cols="30" 
            rows="5" 
            id="description" 
            formControlName="description" 
            class="form-field-input" 
            placeholder="{{ 'PAGES.NEW_COURSES_PAGE.ADD_DESCRIPTION' | translate }}" 
            name="description" 
            (blur)="onBlur($event)">
        </textarea>
    </div>
    <app-course-date 
        formControlName="date" 
        [showErrors]="showFormErrors" 
        [errorMsg]="validationMessage.date"
        (click)="onClick('date')">
    </app-course-date>
    <app-course-duration 
        formControlName="length"
        [showErrors]="showFormErrors"
        [errorMsg]="validationMessage.length"
        (click)="onClick('length')">
    </app-course-duration>
    <app-custom-select
        label="{{ 'PAGES.NEW_COURSES_PAGE.AUTHORS' | translate }}"
        [options]="authorsList" 
        formControlName="authors" 
        [showErrors]="showFormErrors"
        (checkedOptions)="onReceiveCheckedAuthors($event)"
        [errorMsg]="validationMessage.authors"
        (click)="onClick('authors')">
    </app-custom-select> 
    <div class="buttons-block">
        <button type="button" class="cancel-button add-course-btn" (click)="onCancel()">{{ 'SHARED.SHARED.CANCEL' | translate }}</button>
        <button type="submit" class="submit-button add-course-btn" [disabled]="!courseForm.valid">{{ 'PAGES.NEW_COURSES_PAGE.SAVE' | translate }}</button>
    </div>        
</form>
