@import 'styles/variables';
@import 'styles/mixins';

@include form-field(color(gunPowder), font(semiBold));
@include new-course-input;
@include validation-error-field;

:host {
  display: block;
  border-radius: 6px;
  background: color(white);
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1), 0 2px 10px 0 rgba(29, 30, 38, 0.15);
  padding: 24px;
  width: 730px;
  min-height: 636px;
}

.new-course-header {
  color: color(nightRider);
  font-size: 24px;
  font-family: font(semiBold);
  text-transform: none;
  text-align: left;
  font-weight: 600;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-course-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 12px;
}

.buttons-block {
  display: flex;
  justify-content: flex-end;
}

.add-course-btn {
  padding: 6px 17px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: color(white);
  font-size: 14px;
  font-family: font(semiBold);
  text-transform: none;
  font-weight: 600;
  border-radius: 3px;
  border: none;
}

.submit-button {
  @include change-focus-view(color(oliveShadow));
  background: color(olive1);

  &:hover {
    cursor: pointer;
    background-color: color(lasPalmas);
  }

  &:active {
    background-color: color(vidaLoca);
  }

  &:disabled {
    cursor: unset;
    background-color: color(athensGray);
    color: color(manatee);
  }
}

.cancel-button {
  @include change-focus-view(color(manatee));
  border: 1px solid color(manatee);
  color: color(fauxBlackCoral);
  margin-right: 12px;

  &:hover {
    cursor: pointer;
    background-color: color(whiteShadow);
  }

  &:active {
    background-color: color(manatee);
    color: color(white);
  }
}

.help-block {
  height: 14px;
  font-size: 12px;
  color: color(brighRed);
}
