@import "variables";

.button {
    line-height: 24px;
    height: 24px;
	letter-spacing: 0;
	color: color(white);
	font-size: 14px;
    font-family: font(regular);
    text-transform: none;
    border: none;
    background-color: transparent;
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

.icon {
    margin-top: 3px;
    margin-right: 8px;
}