<div class="form-field" [formGroup]="formGroup" [ngClass]="{'has-error': errorMsg}">
    <label for="options" class="form-field-lable">{{label}}: 
        <span class="help-block" *ngIf="errorMsg; else requiredMessage">{{ errorMsg }}</span>
        <ng-template #requiredMessage>
            <span class="required-msg">{{ 'SHARED.SHARED.REQUIRED' | translate }}</span>
        </ng-template>
    </label>
    <div id="options" class="form-field-input">
        <div class="selected-option" formArrayName="formArray" *ngFor="let value of formArray?.controls; index as i">
            <input type="text" [formControlName]="i" class="array-input">
            <img src="assets/icons/ic_close.svg" alt="img" class="delete-icon" (click)="onOptionDelete(i)"/>
        </div>
        <select 
            name="options" 
            class="options-list" 
            (change)="onSelectOption(mySelect.value)" 
            *ngIf="optionsToShow?.length" 
            #mySelect>
            <option value="" disabled selected hidden *ngIf="firstSelected; else hasSelected">{{ 'SHARED.CUSTOM_SELECT.PLEASE_CHOOSE' | translate }}</option>
            <ng-template #hasSelected>
                <option value="" selected>...</option>
            </ng-template>
            <option [value]="option.name" class="option-to-select" *ngFor="let option of optionsToShow">{{option.name}}</option>
        </select>
    </div>
</div>
